﻿@{
    ViewBag.SubTitle = "Contact";
    ViewBag.SubHeader = "Getting started resources";
}

<section class="portfolio" id="demo">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Links</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <a class="d-block mx-auto btn btn-primary" href="https://bitbucket.org/esmannio/microsoftaisamples/overview"> Get the Source </a>
                <br />
            </div>

            <div class="col-md-12 col-lg-12">
                <a class="d-block mx-auto btn btn-primary" href="https://azure.microsoft.com/en-us/try/cognitive-services/"> Try Cognitive Services | Get Api Keys </a>
                <br />
            </div>

        </div>
    </div>
</section>