﻿@{

    ViewBag.SubTitle = "Start";
    ViewBag.SubHeader = "Microsoft Cognitive Services";

}


@section Demo{

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="demo">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Demo's</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <a class="d-block mx-auto btn btn-primary" href="/Face"> Face | Detect </a>
                    <br />
                </div>

                <div class="col-md-3 col-lg-3">
                    <a class="d-block mx-auto btn btn-primary" href="/Vision"> Vision | Analyse </a>
                    <br />
                </div>

                <div class="col-md-3 col-lg-3">
                    <a class="d-block mx-auto btn btn-primary" href="/Text"> Text | Analyse </a>
                    <br />
                </div>

                <div class="col-md-3 col-lg-3">
                    <a class="d-block mx-auto btn btn-primary" href="/Text/Sentiment"> Text | Sentiment </a>
                    <br />
                </div>

                <div class="col-md-3 col-lg-3">
                    <a class="d-block mx-auto btn btn-primary" href="/Ocr"> Vision | Ocr </a>
                    <br />
                </div>

            </div>
        </div>
    </section>
}


@section Info{
    <!-- Info Section -->
    <section class="bg-primary text-white mb-0" id="info">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Learn more</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Infuse your apps, websites and bots with intelligent algorithms to see, hear, speak, understand and interpret your user needs through natural methods of communication.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Free trial avalible for all Services.</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://azure.microsoft.com/en-us/services/cognitive-services/">
                    <i class="fa fa-external-link mr-2"></i>
                    Visit Cognitive Services
                </a>
            </div>
        </div>
    </section>
}

@*<video id="player" width=640 height=480 poster="img/profile.png" controls playsinline></video>
    <button id="capture">Capture</button>
    <canvas id="canvas" width=640 height=480></canvas>
    <textarea id="responseTextArea" class="UIInput" style="width:580px; height:400px;"></textarea>

    <form method="post">
        <input type="text" hidden id="Base64UrlEncodedImage" value="not set" name="model.Base64UrlEncodedImage" />
        <button type="submit">Send</button>
    </form>


    <script>

            const player = document.getElementById('player');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');
            const captureButton = document.getElementById('capture');

            const constraints = {
                video: true,
            };

            captureButton.addEventListener('click', () => {
                // Draw the video frame to the canvas.
                context.drawImage(player, 0, 0, canvas.width, canvas.height);

                var base64ImageString = canvas.toDataURL("image/png").split(",").pop();

                document.getElementById("Base64UrlEncodedImage").value = base64ImageString;

                var raw = window.atob(base64ImageString);
                var rawLength = raw.length;

                var uInt8Array = new Uint8Array(rawLength);

                for (var i = 0; i < rawLength; ++i) {
                    uInt8Array[i] = raw.charCodeAt(i);
                }

                var blob = new Blob([uInt8Array], { type: "image/png" });

                //callMicrosoftFaceApi(blob);

            });

            player.addEventListener('pause', () => {
                // Stop all video streams.
                player.srcObject.getVideoTracks().forEach(track => track.stop());
                console.log("mediaControl: pause");
            });

            player.addEventListener('play', () => {
                // Attach the video stream to the video element and autoplay.
                navigator.mediaDevices.getUserMedia(constraints)
                    .then((stream) => {
                        player.srcObject = stream;
                    });
                console.log("mediaControl: play");

            });

            function callMicrosoftFaceApi(imageData) {

                // Replace the subscriptionKey string value with your valid subscription key.
                var subscriptionKey = "6b2e0496eaaf4a16a954d592155c4ca1";

                var uriBase = "https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect";

                // Request parameters.
                var params = {
                    "returnFaceId": "true",
                    "returnFaceLandmarks": "true",
                    "returnFaceAttributes": "age,gender,headPose,smile,facialHair,glasses,emotion,hair,makeup,occlusion,accessories,blur,exposure,noise",
                };

                // Perform the REST API call.
                $.ajax({
                    url: uriBase + "?" + $.param(params),

                    // Request headers.
                    beforeSend: function (xhrObj) {
                        xhrObj.setRequestHeader("Content-Type", "application/octet-stream");
                        xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", subscriptionKey);
                    },
                    processData: false,
                    type: "POST",

                    // Request body.
                    data: imageData,
                })
                    .done(function (data) {
                        // Show formatted JSON on webpage.
                        $("#responseTextArea").val(JSON.stringify(data, null, 2));
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        // Display error message.
                        var errorString = (errorThrown === "") ? "Error. " : errorThrown + " (" + jqXHR.status + "): ";
                        errorString += (jqXHR.responseText === "") ? "" : (jQuery.parseJSON(jqXHR.responseText).message) ?
                            jQuery.parseJSON(jqXHR.responseText).message : jQuery.parseJSON(jqXHR.responseText).error.message;
                        console.log(errorString);
                    });
            };
    </script>*@
