<section class="bg-light text-dark mb-0">
    <div class="container">

        <h2 class="text-center text-uppercase text-dark">Try me</h2>

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <select id="videoSource" class="form-control" ></select>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <video style="background-color:black" id="player"  controls playsinline></video>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <hr />
                <button class="btn btn-secondary form-control" id="capture">Capture</button>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <canvas id="canvas" style="background-color:darkgrey"class="form-control"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <hr />
                <button class="btn btn-secondary form-control" id="send">Send</button>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <textarea id="responseText" class="form-control" style="height:500px"></textarea>
            </div>
        </div>

    </div>

</section>