﻿@model UploadTextModel

@{
    ViewBag.SubTitle = "Text Analytics Api";
    ViewBag.SubHeader = "Phrases";
}

<section class="bg-light text-dark mb-0">
    <div class="container">

        <h2 class="text-center text-uppercase text-dark">Try me</h2>
        <form method="post" class="form-control">
            <div class="form-group">

                <div class="input-group">
                    <input asp-for="Language" placeholder="languge" class="form-control" />
                </div>

                <div class="input-group">
                    <textarea asp-for="Text" rows="20" placeholder="Text" class="form-control"></textarea>
                </div>

                <div class="input-group">
                    <button type="submit" class="btn btn-secondary form-control">Send</button>
                </div>

                <div class="input-group">
                    <textarea rows="20" placeholder="response" class="form-control" >@(Model?.Response ?? string.Empty)</textarea>
                </div>
            </div>
        </form>
    </div>
</section>

@section Info{
    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="info">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Learn more</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">The Text Analytics API is a suite of text analytics web services built with best-in-class Microsoft machine learning algorithms. The API can be used to analyze unstructured text for tasks such as sentiment analysis, key phrase extraction and language detection</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">No training data is needed to use this API; just bring your text data. This API uses advanced natural language processing techniques to deliver best in class predictions</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/">
                    <i class="fa fa-external-link mr-2"></i>
                    Visit Text Analytics
                </a>
            </div>

            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c6">
                    <i class="fa fa-external-link mr-2"></i>
                    Visit Text Analytics Api
                </a>
            </div>
        </div>
    </section>
}