﻿@{
    ViewBag.SubTitle = "Face Api";
    ViewBag.SubHeader = "Detect";
}

@Html.Partial("_ImageHelperPartial")

@section Script{
    <script src="~/js/imagehelper.js"></script>
}

@section Info{
    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="info">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Learn more</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Detect one or more human faces in an image and get back face rectangles for where in the image the faces are, along with face attributes which contain machine learning-based predictions of facial features.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead"> The face attribute features available are: Age, Emotion, Gender, Pose, Smile, and Facial Hair along with 27 landmarks for each face in the image.</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://azure.microsoft.com/en-us/services/cognitive-services/face/">
                    <i class="fa fa-external-link mr-2"></i>
                    Visit Face
                </a>
            </div>

            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236">
                    <i class="fa fa-external-link mr-2"></i>
                    Visit Face Api
                </a>
            </div>
        </div>
    </section>
}