﻿@{
    ViewBag.SubTitle = "Vision Api";
    ViewBag.SubHeader = "Analyze Image";
}

@Html.Partial("_ImageHelperPartial")

@section Script{
    <script src="~/js/imagehelper.js"></script>
}

@section Info{
    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="info">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Learn more</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">This operation extracts a rich set of visual features based on the image content.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">By default, image categories are returned in the response</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://azure.microsoft.com/en-us/services/cognitive-services/directory/vision/">
                    <i class="fa fa-external-link mr-2"></i>
                    Visit Vision
                </a>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://westus.dev.cognitive.microsoft.com/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa">
                    <i class="fa fa-external-link mr-2"></i>
                    Visit Vision Api
                </a>
            </div>
        </div>
    </section>
}